*
  margin 0
  padding 0
  box-sizing border-box

html
  height 100%
  font-family Rubik, Arial, Helvetica, sans-serif
  font-size 10px

body

  min-width 370px
  max-width 600px
  position relative
  display flex
  flex-direction column
  justify-content center
  margin 0 auto
  padding 1.5rem
  padding-bottom 5rem
  background-color #F7F9F9
  color #17202A

.heading
  margin-bottom 3rem
  font-size 6rem

.heading--secondary
  font-size 2rem

.input-set
  display flex
  flex-direction column
  margin-bottom 3rem
  border none

input
  width 100%
  padding 1rem

.submit
  margin-bottom 3rem
  border none
  background-color #1abc9c
  font-family Rubik, Arial, Helvetica, sans-serif
  font-weight 700
  text-transform uppercase
  color #fdfefe
  cursor pointer

label
  margin-bottom 1rem
  font-size 2rem

hr
  margin-bottom 3rem

.bookmarks-results__item
  margin-bottom 2rem
  padding 1rem
  background-color #D0D3D4

.bookmarks-results__heading
  font-size 1.6rem

.bookmarks-results__link
  display inline-block
  padding 1rem
  font-weight 700
  text-decoration none
  color #fdfefe

.bookmarks-results__link--forward
  margin-left 2rem
  background-color#3498DB

.bookmarks-results__link--delete
  background-color#e74c3c

.footer
  position absolute
  bottom 0
  left 0
  right 0
  height 5rem
  padding 1.5rem